In [1]:
import sys,os
__script_path=os.path.abspath(globals().get('__file__','.'))
__script_dir = os.path.dirname(__script_path)
root_dir = os.path.abspath(f'{__script_dir}/../..')
print(root_dir)
for lib in [root_dir][::-1]:
    if lib in sys.path:
        sys.path.remove(lib)
    sys.path.insert(0,lib)

from libs.common import *
from config.config import *

c:\Users\PC\Data\ads_fraud_detection

c:/Users/PC/Data/ads_fraud_detection

# 3. Tiền xử lí dữ liệu

In [2]:
save_dir=f"{exps_dir}/exp_prj_fake_jobs_postings"
if os.path.exists(save_dir) == False:
  os.makedirs(save_dir, exist_ok=True)

test_size=0.33
seed=42

In [3]:
test_size=0.33
seed=42
data=pd.read_csv(f'{save_dir}/df_EDA.csv')
data

       job_id  has_company_logo  fraudulent                                      combined_text
0       11566                 1           1  Information Security Manager US, CA, San Mateo...
1        3619                 1           1  Agency Sales Managers $150-$175,000/yr US, NY,...
2        5839                 1           1  UST Testing Technician III US, CA, Bakersfield...
3       11551                 1           1  SEO Analysis US, CA, San Mateo   Aptitude Staf...
4       17735                 1           1  Customer Service Representative US, TX, Housto...
...       ...               ...         ...                                                ...
27869   17873                 1           0  Product Manager US, CA, San Francisco   Flite ...
27870   17874                 1           0  Recruiting Coordinator US, NC, Charlotte     R...
27871   17876                 1           0  Account Director - Distribution  CA, ON, Toron...
27872   17877                 1           0  Payroll Accountant US, PA, Philadelphia   WebL...
27873   17880                 1           0  Web Application Developers NZ, N, Wellington  ...

[27874 rows x 4 columns]

In [4]:
data_train, data_test = train_test_split(data, test_size = 0.33, random_state=seed)
print(data_train.shape,data_test.shape)
data_train.to_csv(f'{save_dir}/datatrain.csv', index=None)
data_test.to_csv(f'{save_dir}/datatest.csv', index=None)

(18675, 4) (9199, 4)

In [5]:
data_train

       job_id  has_company_logo  fraudulent                                      combined_text
15602    2153                 1           0  Sr.Java Developer jobs in Maryland US, MD, Lan...
7872      826                 1           1  Project Controls Technician US, CA, Bakersfiel...
22942   11425                 1           0  Data Operations Specialist US, CA, San Francis...
24950   13909                 1           0  Senior Technical Project Manager GB, CMD, Lond...
14931    1245                 1           0  Senior Visual Designer GB, LND, London     We’...
...       ...               ...         ...                                                ...
21575    9871                 1           0  Content Marketing Manager PL, ,    We are Netg...
5390    17597                 1           1  Account Manager $80-$130,000/yr US, NY, New Yo...
860      4537                 1           1  Customer Service Representative US, FL, Jackso...
15795    2405                 1           0  Inside Sales Representative (TELECOMMUTE) US, ...
23654   12321                 1           0  Senior Developer US, NY, New York   Essence is...

[18675 rows x 4 columns]

In [6]:
# nltk.download('popular')
nltk.download('punkt_tab')
nltk.download('averaged_perceptron_tagger_eng')
nltk.download('stopwords')

[nltk_data] Downloading package punkt_tab to
[nltk_data]     c:\Users\PC\Data\ads_fraud_detection\.conda\nltk_data.
[nltk_data]     ..
[nltk_data]   Package punkt_tab is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger_eng to
[nltk_data]     c:\Users\PC\Data\ads_fraud_detection\.conda\nltk_data.
[nltk_data]     ..
[nltk_data]   Package averaged_perceptron_tagger_eng is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package stopwords to
[nltk_data]     c:\Users\PC\Data\ads_fraud_detection\.conda\nltk_data.
[nltk_data]     ..
[nltk_data]   Package stopwords is already up-to-date!

True

In [7]:
import nltk

def check_resource(resource_name):
    try:
        nltk.data.find(resource_name)
        print(f"{resource_name} is already downloaded.")
    except LookupError:
        print(f"{resource_name} not found. Downloading now...")
        nltk.download(resource_name.split('/')[-1])

check_resource('corpora/stopwords.zip')
check_resource('tokenizers/punkt.zip')

corpora/stopwords.zip is already downloaded.
tokenizers/punkt.zip is already downloaded.

In [8]:
def clean_text(text):
    text = text.lower()
    text = re.sub(r'<.*?>', '', text)
    text = re.sub(r'http\S+', '', text)
    text = re.sub(r'[^a-zA-Z0-9]', ' ', text)
    tokens = nltk.word_tokenize(text)
    stop_words = set(nltk.corpus.stopwords.words('english'))
    tokens = [word for word in tokens if word not in stop_words]
    cleaned_text = ' '.join(tokens)
    
    return cleaned_text

In [9]:
try:
    data['combined_text'] = data['combined_text'].apply(clean_text)
except LookupError as e:
    print(f"Missing resource: {e}")
    raise

In [10]:
data

       job_id  has_company_logo  fraudulent                                      combined_text
0       11566                 1           1  information security manager us ca san mateo b...
1        3619                 1           1  agency sales managers 150 175 000 yr us ny cha...
2        5839                 1           1  ust testing technician iii us ca bakersfield c...
3       11551                 1           1  seo analysis us ca san mateo aptitude staffing...
4       17735                 1           1  customer service representative us tx houston ...
...       ...               ...         ...                                                ...
27869   17873                 1           0  product manager us ca san francisco flite deli...
27870   17874                 1           0  recruiting coordinator us nc charlotte respons...
27871   17876                 1           0  account director distribution ca toronto vend ...
27872   17877                 1           0  payroll accountant us pa philadelphia weblinc ...
27873   17880                 1           0  web application developers nz n wellington ven...

[27874 rows x 4 columns]

In [11]:
data.isnull().sum()

job_id              0
has_company_logo    0
fraudulent          0
combined_text       0
dtype: int64

# 4.Chuẩn hóa dữ liệu

In [12]:
numeric_columns=dict(np.load(f'{save_dir}/columns_dtype.npz',allow_pickle=True))['numeric_columns']
numeric_columns

array(['job_id'], dtype='<U6')

In [13]:
category_columns=dict(np.load(f'{save_dir}/columns_dtype.npz',allow_pickle=True))['category_columns']
category_columns

array(['has_company_logo', 'fraudulent', 'combined_text'], dtype='<U16')

In [14]:
print(spacy.util.get_package_path('en_core_web_sm'))

c:\Users\PC\Data\ads_fraud_detection\.conda\lib\site-packages\en_core_web_sm

In [15]:
nlp = spacy.load("en_core_web_sm")

def normalize_text(text):
    # Tokenize the text and apply lemmatization
    doc = nlp(text)
    normalized_words = [token.lemma_ for token in doc]
    normalized_text = ' '.join(normalized_words)
    return normalized_text

In [16]:
data['combined_text']=data['combined_text'].apply(normalize_text)

### Bert word embedding

In [17]:
text_columns = ['combined_text']

try:
    data['pos_features'] = data[text_columns].apply(lambda x: nltk.pos_tag(word_tokenize(x[0])), axis=1)
    data['pos_features'] = data['pos_features'].apply(lambda tags: ' '.join(tag[1] for tag in tags))
    # data['combined_text'] = data['combined_text'].apply(clean_text)
except LookupError as e:
    print(f"Missing resource: {e}")
    raise

X = data.drop('fraudulent', axis=1)
y = data['fraudulent']

vectorizer = CountVectorizer(ngram_range=(1, 2))
text_matrix_train = vectorizer.fit_transform(X['combined_text'])
pos_matrix_train = vectorizer.transform(X['pos_features'])
combined_matrix_train = hstack([text_matrix_train, pos_matrix_train])

with open(f'{save_dir}/countvectorizer.pkl', 'wb') as file:
    pickle.dump(vectorizer, file)

In [18]:
data

       job_id  has_company_logo  fraudulent                                      combined_text                                       pos_features
0       11566                 1           1  information security manager we ca san mateo b...  NN NN NN PRP MD VB JJ JJ NN NN VBG NN NN NN NN...
1        3619                 1           1  agency sale manager 150 175 000 yr we ny chaut...  NN NN NN CD CD CD NN PRP VBP JJ JJ NN NN VBP J...
2        5839                 1           1  ust testing technician iii we can bakersfield ...  JJ VBG JJ NN PRP MD VB MD CD CD NN NN VBN NN N...
3       11551                 1           1  seo analysis we can san mateo aptitude staffin...  JJ NN PRP MD VB JJ NN VBG NN NN VBG NNS JJ JJ ...
4       17735                 1           1  customer service representative we tx houston ...  NN NN NN PRP VBP JJ CD CD JJ NN VB JJ NN NN CD...
...       ...               ...         ...                                                ...                                                ...
27869   17873                 1           0  product manager we ca san francisco flite deli...  NN NN PRP MD VB JJ JJ NN NN NN JJ NN NN NN NN ...
27870   17874                 1           0  recruiting coordinator us nc charlotte respons...  VBG NN PRP IN NN NN VBP VBG VBG NN RB JJ JJ NN...
27871   17876                 1           0  account director distribution ca toronto vend ...  NN NN NN MD VB JJ NN JJ JJ NN VBN NN PRP VBP J...
27872   17877                 1           0  payroll accountant we pa philadelphia weblinc ...  NN NN PRP VBP JJ NN NN NN NN NN NN JJ NN NN NN...
27873   17880                 1           0  web application developer nz n wellington vend...  JJ NN NN NN IN JJ NN VBP JJ JJ NN VBN NN PRP V...

[27874 rows x 5 columns]

In [19]:
X=combined_matrix_train
y=data['fraudulent'].values

In [20]:
# # X_dense = X.toarray()

# X = pd.DataFrame(X_dense)
y = pd.DataFrame(y, columns=['fraudulent'])

In [31]:
X.shape

(27874, 1667122)

In [21]:
from scipy import sparse

# Giả sử X là ma trận thưa
sparse.save_npz(f'{save_dir}/X.npz', X)
y.to_csv(f'{save_dir}/y.csv', index=False)

In [22]:
X

<27874x1667122 sparse matrix of type '<class 'numpy.int64'>'
	with 12989615 stored elements in Compressed Sparse Row format>

In [23]:
sparse.load_npz(f'{save_dir}/sparse_matrix.npz')

<27874x1859086 sparse matrix of type '<class 'numpy.int64'>'
	with 13266528 stored elements in Compressed Sparse Row format>

In [24]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [25]:
# x_train=data_train.drop('fraudulent',axis=1)
# y_train=data_train['fraudulent']
# x_train.to_csv(f'{save_dir}/x_train.csv', index=False)
sparse.save_npz(f'{save_dir}/x_train.npz', x_train)

y_train.to_csv(f'{save_dir}/y_train.csv', index=False)

In [26]:

np.unique(y_train)

array([0, 1], dtype=int64)

In [27]:
y_train=y_train.fraudulent

In [28]:
class_weights = compute_class_weight(class_weight='balanced', classes=np.unique(y_train), y=y_train)
class_weights_dict = {i : class_weights[i] for i in range(len(class_weights))}
np.savez(f'{save_dir}/class_weights_dict.npz', class_weights_dict = class_weights_dict)
class_weights_dict

{0: 0.9991486692355945, 1: 1.0008527827648115}

In [29]:
from imblearn.over_sampling import SMOTE
x_train, y_train = SMOTE().fit_resample(x_train, y_train)
sparse.save_npz(f'{save_dir}/x_train.npz', x_train)
y_train.to_csv(f'{save_dir}/y_train.csv', index=False)

In [30]:
object_cols_test=dict(np.load(f'{save_dir}/columns_dtype.npz',allow_pickle=True))['category_columns']
numeric_cols_test=dict(np.load(f'{save_dir}/columns_dtype.npz',allow_pickle=True))['numeric_columns']

# label_encoders = {}
# for column in object_cols_test:
#     label_encoder = LabelEncoder()
#     data_test[column] = label_encoder.fit_transform(data_test[column])
#     label_encoders[column] = label_encoder  # Lưu trữ label encoder nếu cần sau này

# scaler = StandardScaler()
# data_test[numeric_cols_test] = scaler.fit_transform(data_test[numeric_cols_test])

# x_test=data_test.drop('fraudulent',axis=1)
# y_test=data_test['fraudulent']
sparse.save_npz(f'{save_dir}/x_test.npz', x_test)

y_test.to_csv(f'{save_dir}/y_test.csv', index=False)