In [1]:
import sys,os
__script_path=os.path.abspath(globals().get('__file__','.'))
__script_dir = os.path.dirname(__script_path)
root_dir = os.path.abspath(f'{__script_dir}/../..')
print(root_dir)
for lib in [root_dir][::-1]:
    if lib in sys.path:
        sys.path.remove(lib)
    sys.path.insert(0,lib)

from libs.common import *
from config.config import *

c:\Users\PC\Data\ads_fraud_detection

c:/Users/PC/Data/ads_fraud_detection

# 3. Tiền xử lí dữ liệu

In [2]:
save_dir=f"{exps_dir}/exp_prj_fake_jobs_postings"
if os.path.exists(save_dir) == False:
  os.makedirs(save_dir, exist_ok=True)

test_size=0.33
seed=42

In [3]:
test_size=0.33
seed=42
data=pd.read_csv(f'{save_dir}/df_EDA.csv')
data

       job_id  has_company_logo  fraudulent                                      combined_text
0        1860                 1           1  Head of machining department US, TX, Houston  ...
1       17808                 1           1  Remote Data Entry Rep Needed US, AL, Birmingha...
2       11753                 1           1  Project Controls Tech US, CO, Denver          ...
3        7178                 1           1  Fraud Detection Analyst US, TX, AUSTIN 40000-6...
4       11772                 1           1  Accounts Receivable Specialist US, CA, San Mat...
...       ...               ...         ...                                                ...
27869   17873                 1           0  Product Manager US, CA, San Francisco   Flite ...
27870   17874                 1           0  Recruiting Coordinator US, NC, Charlotte     R...
27871   17876                 1           0  Account Director - Distribution  CA, ON, Toron...
27872   17877                 1           0  Payroll Accountant US, PA, Philadelphia   WebL...
27873   17880                 1           0  Web Application Developers NZ, N, Wellington  ...

[27874 rows x 4 columns]

In [4]:
data_train, data_test = train_test_split(data, test_size = 0.33, random_state=seed)
print(data_train.shape,data_test.shape)
data_train.to_csv(f'{save_dir}/datatrain.csv', index=None)
data_test.to_csv(f'{save_dir}/datatest.csv', index=None)

(18675, 4) (9199, 4)

In [5]:
data_train

       job_id  has_company_logo  fraudulent                                      combined_text
15602    2153                 1           0  Sr.Java Developer jobs in Maryland US, MD, Lan...
7872     8684                 1           1  Payroll Clerk US, HI, HONOLULU   At DynCorp In...
22942   11425                 1           0  Data Operations Specialist US, CA, San Francis...
24950   13909                 1           0  Senior Technical Project Manager GB, CMD, Lond...
14931    1245                 1           0  Senior Visual Designer GB, LND, London     We’...
...       ...               ...         ...                                                ...
21575    9871                 1           0  Content Marketing Manager PL, ,    We are Netg...
5390     1994                 1           1  Facilities Development Engineer     Aker Solut...
860      5751                 1           1  Agency Sales Managers $150-$175,000/yr US, NY,...
15795    2405                 1           0  Inside Sales Representative (TELECOMMUTE) US, ...
23654   12321                 1           0  Senior Developer US, NY, New York   Essence is...

[18675 rows x 4 columns]

In [6]:
# nltk.download('popular')
# nltk.download('punkt_tab')
nltk.download('averaged_perceptron_tagger_eng')

[nltk_data] Downloading package averaged_perceptron_tagger_eng to
[nltk_data]     c:\Users\PC\Data\ads_fraud_detection\.conda\nltk_data.
[nltk_data]     ..
[nltk_data]   Package averaged_perceptron_tagger_eng is already up-to-
[nltk_data]       date!

True

In [7]:
import nltk

def check_resource(resource_name):
    try:
        nltk.data.find(resource_name)
        print(f"{resource_name} is already downloaded.")
    except LookupError:
        print(f"{resource_name} not found. Downloading now...")
        nltk.download(resource_name.split('/')[-1])

check_resource('corpora/stopwords.zip')
check_resource('tokenizers/punkt.zip')

corpora/stopwords.zip is already downloaded.
tokenizers/punkt.zip is already downloaded.

In [8]:
def clean_text(text):
    text = text.lower()
    text = re.sub(r'<.*?>', '', text)
    text = re.sub(r'http\S+', '', text)
    text = re.sub(r'[^a-zA-Z0-9]', ' ', text)
    tokens = nltk.word_tokenize(text)
    stop_words = set(nltk.corpus.stopwords.words('english'))
    tokens = [word for word in tokens if word not in stop_words]
    cleaned_text = ' '.join(tokens)
    
    return cleaned_text

In [9]:
try:
    data['combined_text'] = data['combined_text'].apply(clean_text)
except LookupError as e:
    print(f"Missing resource: {e}")
    raise

In [10]:
data

       job_id  has_company_logo  fraudulent                                      combined_text
0        1860                 1           1  head machining department us tx houston aker s...
1       17808                 1           1  remote data entry rep needed us al birmingham ...
2       11753                 1           1  project controls tech us co denver staffing am...
3        7178                 1           1  fraud detection analyst us tx austin 40000 650...
4       11772                 1           1  accounts receivable specialist us ca san mateo...
...       ...               ...         ...                                                ...
27869   17873                 1           0  product manager us ca san francisco flite deli...
27870   17874                 1           0  recruiting coordinator us nc charlotte respons...
27871   17876                 1           0  account director distribution ca toronto vend ...
27872   17877                 1           0  payroll accountant us pa philadelphia weblinc ...
27873   17880                 1           0  web application developers nz n wellington ven...

[27874 rows x 4 columns]

In [11]:
data.isnull().sum()

job_id              0
has_company_logo    0
fraudulent          0
combined_text       0
dtype: int64

In [12]:
# data_train['collision_type']=data_train['collision_type'].replace('?',np.nan)
# data_train['collision_type'].fillna(method='ffill',inplace=True)
# data_train[['property_damage','police_report_available']]=data_train[['property_damage','police_report_available']].replace('?','Unknow')
# (data_train=='?').sum()

# 4.Chuẩn hóa dữ liệu

In [13]:
numeric_columns=dict(np.load(f'{save_dir}/columns_dtype.npz',allow_pickle=True))['numeric_columns']
numeric_columns

array(['job_id'], dtype='<U6')

In [14]:
category_columns=dict(np.load(f'{save_dir}/columns_dtype.npz',allow_pickle=True))['category_columns']
category_columns

array(['has_company_logo', 'fraudulent', 'combined_text'], dtype='<U16')

In [15]:
print(spacy.util.get_package_path('en_core_web_sm'))

c:\Users\PC\Data\ads_fraud_detection\.conda\lib\site-packages\en_core_web_sm

In [16]:
nlp = spacy.load("en_core_web_sm")

def normalize_text(text):
    # Tokenize the text and apply lemmatization
    doc = nlp(text)
    normalized_words = [token.lemma_ for token in doc]
    normalized_text = ' '.join(normalized_words)
    return normalized_text

In [17]:
data['combined_text']=data['combined_text'].apply(normalize_text)

In [18]:
text_columns = ['combined_text']

try:
    data['pos_features'] = data[text_columns].apply(lambda x: nltk.pos_tag(word_tokenize(x[0])), axis=1)
    data['pos_features'] = data['pos_features'].apply(lambda tags: ' '.join(tag[1] for tag in tags))
    # data['combined_text'] = data['combined_text'].apply(clean_text)
except LookupError as e:
    print(f"Missing resource: {e}")
    raise

X = data.drop('fraudulent', axis=1)
y = data['fraudulent']

vectorizer = CountVectorizer(ngram_range=(1, 2))
text_matrix_train = vectorizer.fit_transform(X['combined_text'])
pos_matrix_train = vectorizer.transform(X['pos_features'])
combined_matrix_train = hstack([text_matrix_train, pos_matrix_train])

with open(f'{save_dir}/countvectorizer.pkl', 'wb') as file:
    pickle.dump(vectorizer, file)

In [19]:
data

       job_id  has_company_logo  fraudulent                                      combined_text                                       pos_features
0        1860                 1           1  head machining department us tx houston aker s...  NN NN NN PRP VBP JJ NN NN JJ NN NN NN NN NN NN...
1       17808                 1           1  remote data entry rep need we al birmingham 30...  VB NNS NN VBP IN PRP VBP JJ CD CD NN NN VBP JJ...
2       11753                 1           1  project control tech we co denver staff amp re...  NN NN IN PRP VBP JJ NN NN NN VB JJ NN VB NN NN...
3        7178                 1           1  fraud detection analyst us tx austin 40000 650...  NN NN NN PRP VBP JJ CD CD NN JJ NN NN NN NN VB...
4       11772                 1           1  account receivable specialist we ca san mateo ...  NN JJ NN PRP MD VB JJ NN VBG NN NN VBG NNS JJ ...
...       ...               ...         ...                                                ...                                                ...
27869   17873                 1           0  product manager we ca san francisco flite deli...  NN NN PRP MD VB JJ JJ NN NN NN JJ NN NN NN NN ...
27870   17874                 1           0  recruiting coordinator us nc charlotte respons...  VBG NN PRP IN NN NN VBP VBG VBG NN RB JJ JJ NN...
27871   17876                 1           0  account director distribution ca toronto vend ...  NN NN NN MD VB JJ NN JJ JJ NN VBN NN PRP VBP J...
27872   17877                 1           0  payroll accountant we pa philadelphia weblinc ...  NN NN PRP VBP JJ NN NN NN NN NN NN JJ NN NN NN...
27873   17880                 1           0  web application developer nz n wellington vend...  JJ NN NN NN IN JJ NN VBP JJ JJ NN VBN NN PRP V...

[27874 rows x 5 columns]

In [20]:
X=combined_matrix_train
y=data['fraudulent'].values

In [21]:
X_dense = X.toarray()

X = pd.DataFrame(X_dense)
y = pd.DataFrame(y, columns=['fraudulent'])

MemoryError: Unable to allocate 346. GiB for an array with shape (27874, 1667122) and data type int64

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
# x_train=data_train.drop('fraudulent',axis=1)
# y_train=data_train['fraudulent']
x_train.to_csv(f'{save_dir}/x_train.csv', index=False)
y_train.to_csv(f'{save_dir}/y_train.csv', index=False)

AttributeError: to_csv not found

In [13]:
class_weights = compute_class_weight(class_weight='balanced', classes=np.unique(y_train), y=y_train)
class_weights_dict = {i : class_weights[i] for i in range(len(class_weights))}
np.savez(f'{save_dir}/class_weights_dict.npz', class_weights_dict = class_weights_dict)
class_weights_dict

{0: 0.5317035512094699, 1: 8.385551948051948}

In [14]:
from imblearn.over_sampling import SMOTE
x_train, y_train = SMOTE().fit_resample(x_train, y_train)
x_train.to_csv(f'{save_dir}/x_train.csv', index=False)
y_train.to_csv(f'{save_dir}/y_train.csv', index=False)

In [15]:
kfold = KFold(n_splits=5, shuffle=True, random_state=42)
print(f"+ X_train: {len(x_train)}")
for fold, (train_idx, valid_idx) in enumerate(kfold.split(x_train, y_train)):
    print(f'Fold {fold}: ')
    print(f'+ train_idx: {train_idx}')
    print(f'+ valid_idx: {valid_idx}')
    print(f'+ train / valid: {valid_idx}')
    pass

+ X_train: 19430
Fold 0:
+ train_idx: [    0     1     2 ... 19426 19427 19429]
+ valid_idx: [    3     6    19 ... 19417 19418 19428]
+ train / valid: [    3     6    19 ... 19417 19418 19428]
Fold 1:
+ train_idx: [    1     2     3 ... 19427 19428 19429]
+ valid_idx: [    0     5     8 ... 19423 19425 19426]
+ train / valid: [    0     5     8 ... 19423 19425 19426]
Fold 2:
+ train_idx: [    0     1     2 ... 19427 19428 19429]
+ valid_idx: [    7    10    12 ... 19406 19419 19421]
+ train / valid: [    7    10    12 ... 19406 19419 19421]
Fold 3:
+ train_idx: [    0     3     5 ... 19427 19428 19429]
+ valid_idx: [    1     2     4 ... 19410 19414 19424]
+ train / valid: [    1     2     4 ... 19410 19414 19424]
Fold 4:
+ train_idx: [    0     1     2 ... 19425 19426 19428]
+ valid_idx: [    9    11    13 ... 19422 19427 19429]
+ train / valid: [    9    11    13 ... 19422 19427 19429]

In [16]:
object_cols_test=dict(np.load(f'{save_dir}/columns_dtype.npz',allow_pickle=True))['category_columns']
numeric_cols_test=dict(np.load(f'{save_dir}/columns_dtype.npz',allow_pickle=True))['numeric_columns']
# for column in outliers_list:
#     data_test = remove_outliers_iqr(data_test, column)
# data_test['collision_type'].replace('?',np.nan,inplace=True)
# data_test['collision_type'].fillna(method='ffill',inplace=True)
# data_test[['property_damage','police_report_available']].replace('?','Unknow',inplace=True)
# (data_test=='?').sum()
label_encoders = {}
for column in object_cols_test:
    label_encoder = LabelEncoder()
    data_test[column] = label_encoder.fit_transform(data_test[column])
    label_encoders[column] = label_encoder  # Lưu trữ label encoder nếu cần sau này

scaler = StandardScaler()
data_test[numeric_cols_test] = scaler.fit_transform(data_test[numeric_cols_test])

x_test=data_test.drop('fraudulent',axis=1)
y_test=data_test['fraudulent']
data_test.to_csv(f'{save_dir}/df_test_minmax.csv', index=False)
x_test.to_csv(f'{save_dir}/x_test.csv', index=False)
y_test.to_csv(f'{save_dir}/y_test.csv', index=False)