In [1]:
import sys,os
__script_path=os.path.abspath(globals().get('__file__','.'))
__script_dir = os.path.dirname(__script_path)
root_dir = os.path.abspath(f'{__script_dir}/..')
print(root_dir)
for lib in [root_dir][::-1]:
    if lib in sys.path:
        sys.path.remove(lib)
    sys.path.insert(0,lib)

from libs.common import *
from config.config import *

c:\Users\PC\Data\ads_prj_nckh

# 3. Tiền xử lí dữ liệu

In [2]:
save_dir=f"{exps_dir}/exp2"

save_dir = f"{save_dir}"
os.makedirs(save_dir, exist_ok=True)
test_size=0.33
seed=42

In [4]:
test_size=0.33
seed=42
data=pd.read_excel(f'{save_dir}/data_EDA.xlsx')
data

,Month,WeekOfMonth,DayOfWeek,Make,AccidentArea,DayOfWeekClaimed,MonthClaimed,WeekOfMonthClaimed,Sex,MaritalStatus,...,PoliceReportFiled,WitnessPresent,AgentType,NumberOfSuppliments,AddressChange_Claim,NumberOfCars,Year,BasePolicy,week_claimed,week_incident
0,Dec,5,Wednesday,Honda,Urban,Tuesday,Jan,1,Female,Single,...,No,No,External,none,1 year,3 to 4,1994,Liability,1994-Jan-1-Tuesday,1994-Dec-5-Wednesday
1,Jan,3,Wednesday,Honda,Urban,Monday,Jan,4,Male,Single,...,Yes,No,External,none,no change,1 vehicle,1994,Collision,1994-Jan-4-Monday,1994-Jan-3-Wednesday
2,Oct,5,Friday,Honda,Urban,Thursday,Nov,2,Male,Married,...,No,No,External,none,no change,1 vehicle,1994,Collision,1994-Nov-2-Thursday,1994-Oct-5-Friday
3,Jun,2,Saturday,Toyota,Rural,Friday,Jul,1,Male,Married,...,Yes,No,External,more than 5,no change,1 vehicle,1994,Liability,1994-Jul-1-Friday,1994-Jun-2-Saturday
4,Jan,5,Monday,Honda,Urban,Tuesday,Feb,2,Female,Single,...,No,No,External,none,no change,1 vehicle,1994,Collision,1994-Feb-2-Tuesday,1994-Jan-5-Monday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15415,Nov,4,Friday,Toyota,Urban,Tuesday,Nov,5,Male,Married,...,No,No,External,none,no change,1 vehicle,1996,Collision,1996-Nov-5-Tuesday,1996-Nov-4-Friday
15416,Nov,5,Thursday,Pontiac,Urban,Friday,Dec,1,Male,Married,...,No,No,External,more than 5,no change,3 to 4,1996,Liability,1996-Dec-1-Friday,1996-Nov-5-Thursday
15417,Nov,5,Thursday,Toyota,Rural,Friday,Dec,1,Male,Single,...,No,No,External,1 to 2,no change,1 vehicle,1996,Collision,1996-Dec-1-Friday,1996-Nov-5-Thursday
15418,Dec,1,Monday,Toyota,Urban,Thursday,Dec,2,Female,Married,...,No,No,External,more than 5,no change,1 vehicle,1996,All Perils,1996-Dec-2-Thursday,1996-Dec-1-Monday
15419,Dec,2,Wednesday,Toyota,Urban,Thursday,Dec,3,Male,Single,...,No,No,External,1 to 2,no change,1 vehicle,1996,Collision,1996-Dec-3-Thursday,1996-Dec-2-Wednesday

In [5]:
data_train, data_test = train_test_split(data, test_size = 0.33, random_state=seed)
print(data_train.shape,data_test.shape)
data_train.to_excel(f'{save_dir}/datatrain.xlsx', index=None)
data_test.to_excel(f'{save_dir}/datatest.xlsx', index=None)

(10331, 35) (5089, 35)

In [6]:
data_train

,Month,WeekOfMonth,DayOfWeek,Make,AccidentArea,DayOfWeekClaimed,MonthClaimed,WeekOfMonthClaimed,Sex,MaritalStatus,...,PoliceReportFiled,WitnessPresent,AgentType,NumberOfSuppliments,AddressChange_Claim,NumberOfCars,Year,BasePolicy,week_claimed,week_incident
9926,Nov,3,Friday,Pontiac,Urban,Monday,Nov,4,Male,Married,...,No,No,External,1 to 2,no change,1 vehicle,1995,Liability,1995-Nov-4-Monday,1995-Nov-3-Friday
1215,Jul,3,Saturday,Honda,Urban,Monday,Jul,3,Male,Married,...,No,No,External,none,no change,1 vehicle,1994,Liability,1994-Jul-3-Monday,1994-Jul-3-Saturday
12079,May,2,Wednesday,Pontiac,Urban,Wednesday,Jun,3,Male,Married,...,No,No,External,1 to 2,no change,1 vehicle,1996,Collision,1996-Jun-3-Wednesday,1996-May-2-Wednesday
14292,May,1,Wednesday,VW,Urban,Wednesday,May,1,Female,Married,...,No,No,External,1 to 2,no change,1 vehicle,1996,Liability,1996-May-1-Wednesday,1996-May-1-Wednesday
12136,Feb,2,Tuesday,Mazda,Urban,Tuesday,Feb,2,Female,Married,...,No,No,External,1 to 2,no change,3 to 4,1996,Liability,1996-Feb-2-Tuesday,1996-Feb-2-Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5191,Mar,5,Thursday,Pontiac,Rural,Tuesday,Apr,2,Male,Single,...,No,No,External,1 to 2,no change,1 vehicle,1994,Collision,1994-Apr-2-Tuesday,1994-Mar-5-Thursday
13418,Sep,5,Friday,Chevrolet,Urban,Friday,Sep,5,Male,Married,...,No,No,External,more than 5,no change,1 vehicle,1996,Liability,1996-Sep-5-Friday,1996-Sep-5-Friday
5390,Jan,3,Thursday,Honda,Urban,Thursday,Feb,1,Male,Married,...,No,No,External,none,no change,1 vehicle,1994,Collision,1994-Feb-1-Thursday,1994-Jan-3-Thursday
860,Apr,1,Wednesday,Honda,Urban,Friday,Apr,2,Male,Married,...,No,No,External,none,no change,1 vehicle,1994,Liability,1994-Apr-2-Friday,1994-Apr-1-Wednesday
7270,Feb,4,Friday,Mazda,Urban,Thursday,Mar,2,Male,Married,...,No,No,External,1 to 2,no change,1 vehicle,1995,Liability,1995-Mar-2-Thursday,1995-Feb-4-Friday

In [7]:
# outliers_list=dict(np.load(f'{save_dir}/outliers.npz'))['outliers']
# def remove_outliers_iqr(data, column):
#     Q1 = data[column].quantile(0.25)
#     Q3 = data[column].quantile(0.75)
#     IQR = Q3 - Q1
#     lower_bound = Q1 - 1.5 * IQR
#     upper_bound = Q3 + 1.5 * IQR
#     return data[(data[column] >= lower_bound) & (data[column] <= upper_bound)]

# # Áp dụng hàm cho các cột chứa dữ liệu cần loại bỏ ngoại lệ
# for column in outliers_list:
#     data_train = remove_outliers_iqr(data_train, column)
# data_train

In [9]:
data.isnull().sum()

Month                   0
WeekOfMonth             0
DayOfWeek               0
Make                    0
AccidentArea            0
DayOfWeekClaimed        1
MonthClaimed            0
WeekOfMonthClaimed      0
Sex                     0
MaritalStatus           0
Age                     0
Fault                   0
PolicyType              0
VehicleCategory         0
VehiclePrice            0
FraudFound_P            0
PolicyNumber            0
RepNumber               0
Deductible              0
DriverRating            0
Days_Policy_Accident    0
Days_Policy_Claim       0
PastNumberOfClaims      0
AgeOfVehicle            0
AgeOfPolicyHolder       0
PoliceReportFiled       0
WitnessPresent          0
AgentType               0
NumberOfSuppliments     0
AddressChange_Claim     0
NumberOfCars            0
Year                    0
BasePolicy              0
week_claimed            0
week_incident           0
dtype: int64

In [12]:
# data_train['collision_type']=data_train['collision_type'].replace('?',np.nan)
# data_train['collision_type'].fillna(method='ffill',inplace=True)
# data_train[['property_damage','police_report_available']]=data_train[['property_damage','police_report_available']].replace('?','Unknow')
# (data_train=='?').sum()

# 4.Chuẩn hóa dữ liệu

In [10]:
numeric_columns=dict(np.load(f'{save_dir}/columns_dtype.npz',allow_pickle=True))['numeric_columns']
numeric_columns

array(['Age', 'PolicyNumber'], dtype='<U12')

In [11]:
category_columns=dict(np.load(f'{save_dir}/columns_dtype.npz',allow_pickle=True))['category_columns']
category_columns

array(['Month', 'WeekOfMonth', 'DayOfWeek', 'Make', 'AccidentArea',
       'DayOfWeekClaimed', 'MonthClaimed', 'WeekOfMonthClaimed', 'Sex',
       'MaritalStatus', 'Fault', 'PolicyType', 'VehicleCategory',
       'VehiclePrice', 'FraudFound_P', 'RepNumber', 'Deductible',
       'DriverRating', 'Days_Policy_Accident', 'Days_Policy_Claim',
       'PastNumberOfClaims', 'AgeOfVehicle', 'AgeOfPolicyHolder',
       'PoliceReportFiled', 'WitnessPresent', 'AgentType',
       'NumberOfSuppliments', 'AddressChange_Claim', 'NumberOfCars',
       'Year', 'BasePolicy', 'week_claimed', 'week_incident'],
      dtype='<U20')

In [13]:
label_encoders = {}
for column in category_columns:
    label_encoder = LabelEncoder()
    data_train[column] = label_encoder.fit_transform(data_train[column])
    label_encoders[column] = label_encoder  # Lưu trữ label encoder nếu cần sau này

scaler = StandardScaler()
data_train[numeric_columns] = scaler.fit_transform(data_train[numeric_columns])
data_train

,Month,WeekOfMonth,DayOfWeek,Make,AccidentArea,DayOfWeekClaimed,MonthClaimed,WeekOfMonthClaimed,Sex,MaritalStatus,...,PoliceReportFiled,WitnessPresent,AgentType,NumberOfSuppliments,AddressChange_Claim,NumberOfCars,Year,BasePolicy,week_claimed,week_incident
9926,9,2,0,13,1,1,9,3,1,1,...,0,0,0,0,3,0,1,2,559,698
1215,5,2,2,6,1,1,5,2,1,1,...,0,0,0,3,3,0,0,2,140,177
12079,8,1,6,13,1,6,6,2,1,1,...,0,0,0,0,3,0,2,1,778,1053
14292,8,0,6,18,1,6,8,0,0,1,...,0,0,0,0,3,0,2,2,817,1046
12136,3,1,5,9,1,5,3,1,0,1,...,0,0,0,0,3,2,2,2,699,891
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5191,7,4,4,13,0,5,0,1,1,2,...,0,0,0,0,3,0,0,1,11,257
13418,11,4,0,2,1,0,11,4,1,1,...,0,0,0,2,3,0,2,2,912,1164
5390,4,2,4,6,1,4,3,0,1,1,...,0,0,0,3,3,0,0,1,79,146
860,0,0,6,6,1,0,0,1,1,1,...,0,0,0,3,3,0,0,2,6,6
7270,3,3,0,9,1,4,7,1,1,1,...,0,0,0,0,3,0,1,2,498,510

In [14]:
x_train=data_train.drop('FraudFound_P',axis=1)
y_train=data_train['FraudFound_P']
x_train.to_excel(f'{save_dir}/x_train.xlsx', index=False)
y_train.to_excel(f'{save_dir}/y_train.xlsx', index=False)

In [15]:
class_weights = compute_class_weight(class_weight='balanced', classes=np.unique(y_train), y=y_train)
class_weights_dict = {i : class_weights[i] for i in range(len(class_weights))}
np.savez(f'{save_dir}/class_weights_dict.npz', class_weights_dict = class_weights_dict)
class_weights_dict

{0: 0.5317035512094699, 1: 8.385551948051948}

In [17]:
from imblearn.over_sampling import SMOTE
x_train, y_train = SMOTE().fit_resample(x_train, y_train)
x_train.to_excel(f'{save_dir}/x_train.xlsx', index=False)
y_train.to_excel(f'{save_dir}/y_train.xlsx', index=False)

In [18]:
kfold = KFold(n_splits=5, shuffle=True, random_state=42)
print(f"+ X_train: {len(x_train)}")
for fold, (train_idx, valid_idx) in enumerate(kfold.split(x_train, y_train)):
    print(f'Fold {fold}: ')
    print(f'+ train_idx: {train_idx}')
    print(f'+ valid_idx: {valid_idx}')
    print(f'+ train / valid: {valid_idx}')
    pass

+ X_train: 19430
Fold 0:
+ train_idx: [    0     1     2 ... 19426 19427 19429]
+ valid_idx: [    3     6    19 ... 19417 19418 19428]
+ train / valid: [    3     6    19 ... 19417 19418 19428]
Fold 1:
+ train_idx: [    1     2     3 ... 19427 19428 19429]
+ valid_idx: [    0     5     8 ... 19423 19425 19426]
+ train / valid: [    0     5     8 ... 19423 19425 19426]
Fold 2:
+ train_idx: [    0     1     2 ... 19427 19428 19429]
+ valid_idx: [    7    10    12 ... 19406 19419 19421]
+ train / valid: [    7    10    12 ... 19406 19419 19421]
Fold 3:
+ train_idx: [    0     3     5 ... 19427 19428 19429]
+ valid_idx: [    1     2     4 ... 19410 19414 19424]
+ train / valid: [    1     2     4 ... 19410 19414 19424]
Fold 4:
+ train_idx: [    0     1     2 ... 19425 19426 19428]
+ valid_idx: [    9    11    13 ... 19422 19427 19429]
+ train / valid: [    9    11    13 ... 19422 19427 19429]

In [19]:
object_cols_test=dict(np.load(f'{save_dir}/columns_dtype.npz',allow_pickle=True))['category_columns']
numeric_cols_test=dict(np.load(f'{save_dir}/columns_dtype.npz',allow_pickle=True))['numeric_columns']
# for column in outliers_list:
#     data_test = remove_outliers_iqr(data_test, column)
# data_test['collision_type'].replace('?',np.nan,inplace=True)
# data_test['collision_type'].fillna(method='ffill',inplace=True)
# data_test[['property_damage','police_report_available']].replace('?','Unknow',inplace=True)
# (data_test=='?').sum()
label_encoders = {}
for column in object_cols_test:
    label_encoder = LabelEncoder()
    data_test[column] = label_encoder.fit_transform(data_test[column])
    label_encoders[column] = label_encoder  # Lưu trữ label encoder nếu cần sau này

scaler = StandardScaler()
data_test[numeric_cols_test] = scaler.fit_transform(data_test[numeric_cols_test])

x_test=data_test.drop('FraudFound_P',axis=1)
y_test=data_test['FraudFound_P']
data_test.to_excel(f'{save_dir}/df_test_minmax.xlsx', index=False)
x_test.to_excel(f'{save_dir}/x_test.xlsx', index=False)
y_test.to_excel(f'{save_dir}/y_test.xlsx', index=False)